# Xcode
.DS_Store
/build/
/DerivedData/
*.xcodeproj/*
*.xcworkspace/xcuserdata/
LocateCursor.xcodeproj/project.pbxproj

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/

# Pods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Playgrounds
*.playground

.gitignore
*.xcuserstate
